@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 10;
    margin: 10;
    font-family: 'georgia', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    background-color: rgb(78, 0, 63);
}

#calcTemp {
    padding: 29px 67px;
    min-height: 290px;
    background-color: #e8dde7;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(201, 193, 193, 0.24) 0px 1px 2px;
}

label {
    font-size: 35px;
    line-height: 78px;
}

#temp {
    width: 120px;
    height: 38px;
    border-radius: 7px;
    margin: 10px;
    padding: 6px;
    font-size: 18px;
    font-weight: 450;
    border: none;
    outline: none;
}

#temp_diff {
    width: 120px;
    height: 38px;
    border-radius: 7px;
    margin: 10px;
    font-size: 15px;
    font-weight: 450;
    border: 40;
    outline: 50;
}

#submit {
    width: 100px;
    border-radius: 5px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(231, 14, 86);
    padding: 5px;
    transition: all 0.5s ease;
}

#submit:hover{
    background-color: rgb(221, 131, 187);
    cursor: pointer;
}

#result{
    font-size: 30px;
}